<div id="uploadBox" (click)="triggerUploadDialog()">
  <label for="upload"><button md-raised-button id="uploadSubmit">Upload File</button></label>
  <input id="upload" name="upload" type="file" accept=".csv" (change)="uploadFile($event)">
</div>

<div class="header">
  <md-input-container floatPlaceholder="never">
    <input mdInput #filter placeholder="Search Programmes">
  </md-input-container>
</div>

<md-table #table [dataSource]="programmesDataSource">
  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *cdkRowDef="let programme; columns: displayedColumns;"></md-row>
  <ng-container cdkColumnDef="Degree1">
    <md-header-cell *cdkHeaderCellDef>Degree 1</md-header-cell>
    <md-cell *cdkCellDef="let programme">{{programme.Degree1}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="Degree2">
    <md-header-cell *cdkHeaderCellDef>Degree 2</md-header-cell>
    <md-cell *cdkCellDef="let programme">{{programme.Degree2}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="Programme">
    <md-header-cell *cdkHeaderCellDef>Programme</md-header-cell>
    <md-cell *cdkCellDef="let programme">{{programme.Programme}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="Faculty">
    <md-header-cell *cdkHeaderCellDef>Faculty</md-header-cell>
    <md-cell *cdkCellDef="let programme">{{programme.Faculty}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="FullTime">
    <md-header-cell *cdkHeaderCellDef>Full Time</md-header-cell>
    <md-cell *cdkCellDef="let programme">{{programme.FullTime}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="PartTime">
    <md-header-cell *cdkHeaderCellDef>Part Time</md-header-cell>
    <md-cell *cdkCellDef="let programme">{{programme.PartTime}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="Evening">
    <md-header-cell *cdkHeaderCellDef>Evening</md-header-cell>
    <md-cell *cdkCellDef="let programme">{{programme.Evening}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="CXCPasses">
    <md-header-cell *cdkHeaderCellDef>CXC Passes</md-header-cell>
    <md-cell *cdkCellDef="let programme">{{programme.CXCPasses}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="CAPEPasses">
    <md-header-cell *cdkHeaderCellDef>CAPE Passes</md-header-cell>
    <md-cell *cdkCellDef="let programme">{{programme.CAPEPasses}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="AlternativeQualifications">
    <md-header-cell *cdkHeaderCellDef>Alternative Qualifications</md-header-cell>
    <md-cell *cdkCellDef="let programme">{{programme.AlternativeQualifications}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="OtherRequirements">
    <md-header-cell *cdkHeaderCellDef>Other Requirements</md-header-cell>
    <md-cell *cdkCellDef="let programme">{{programme.OtherRequirements}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="Description">
    <md-header-cell *cdkHeaderCellDef>Description</md-header-cell>
    <md-cell *cdkCellDef="let programme">{{programme.Description}}</md-cell>
  </ng-container>
</md-table>