<form id="login">
  <div class="header">
    <md-input-container floatPlaceholder="never">
      <input type="email" name="email" mdInput required placeholder="Email" [(ngModel)]="user.email" >
    </md-input-container>
  </div>
  <div class="header">
    <md-input-container floatPlaceholder="never">
      <input type="password" name="password" mdInput required placeholder="Password" [(ngModel)]="user.password">
    </md-input-container>
  </div>
  <button md-button (click)="login()">Login</button>
</form>