<h3>CSEC Requirements:</h3>
<p *ngIf="!!CSECPasses">Passes: {{CSECPasses}}</p>
<p *ngIf="!!CSECMandatory">Mandatory: {{CSECMandatory}}</p>
<p *ngIf="!!CSECAny1of">Any 1 of: {{CSECAny1of}}</p>
<p *ngIf="!!CSECAny2of">Any 2 of: {{CSECAny2of}}</p>
<p *ngIf="!!CSECAny3of">Any 3 of: {{CSECAny3of}}</p>
<p *ngIf="!!CSECAny4of">Any 4 of: {{CSECAny4of}}</p>
<p *ngIf="!!CSECAny5of">Any 5 of: {{CSECAny5of}}</p>

<h3>CAPE Requirements:</h3>
<p *ngIf="!!CAPEPasses">Passes: {{CAPEPasses}}</p>
<p *ngIf="!!CAPEMandatory">Mandatory: {{CAPEMandatory}}</p>
<p *ngIf="!!CAPEAny1of">Any 1 of: {{CAPEAny1of}}</p>
<p *ngIf="!!CAPEAny2of">Any 2 of: {{CAPEAny2of}}</p>
<p *ngIf="!!CAPEAny3of">Any 3 of: {{CAPEAny3of}}</p>
<p *ngIf="!!CAPEAny4of">Any 4 of: {{CAPEAny4of}}</p>
<p *ngIf="!!CAPEAny5of">Any 5 of: {{CAPEAny5of}}</p>

