<div id="uploadForm" (click)="triggerUploadDialog($event)">
  <label for="upload"><button md-raised-button id="uploadSubmit">Upload File</button></label>
  <input id="upload" #upload name="upload" type="file" accept=".csv" (change)="uploadFile($event)">
</div>

<ng-table #table
          [config]="tableConfig"
          [rows]="programmes | async"
          [columns]="columns"
          [expandable]="true"
          [expandedComponent]="rowComponent"
          [rowInputs]="selectedRow"
          (expanderClicked)="exapndRow($event)">
</ng-table>